@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">Le damos la bienvenida</h1>
            <p>Explore nuestra web y descubra todo lo que tenemos para ofrecerle.</p>
            @if (!string.IsNullOrEmpty(ViewBag.msgLogin))
            {
                <h5 class="text-success">@ViewBag.msgLogin</h5>
            }
            else if (!string.IsNullOrEmpty(ViewBag.msgLogout))
            {
                <h5 class="text-success">@ViewBag.msgLogout</h5>
                <a asp-action="Login" asp-controller="Home" class="btn btn-primary">Iniciar Sesion</a>
            }
            else
            {
                <a asp-action="Login" asp-controller="Home" class="btn btn-primary">Iniciar Sesion</a>
            }

        </div>
    </div>
</div>