
<h1>Alta de usuario</h1>


<form method="post">

    Nombre: <input type="text" name="Nombre" />
    <br />
    Email: <input type="email" name="Email" />
    <br />

    <input type="submit" value="Alta" />
</form>

<p>@ViewBag.mensaje</p>