@{
    ViewData["Title"] = "Politicas de Privacidad";
}
<h1 class="text-center display-6">@ViewData["Title"]</h1>
<p class="text-center">© 2024 Todos los derechos reservados.</p>
<h5 class="text-info text-center">Universidad ORT Uruguay</h5>
<h5 class="text-info text-center">Grupo N3D</h5>
<br />

<h6 class="text-center">Alumnos: Angel Vaz, Rodrigo Cristaldo</h6>
<h6 class="text-center">Tutor: Lucas Lopez</h6>


